
<!--
<p-button (click)="missionCmdStr('PRIORITIZE_BLOOD_SAMPLES')">Prioritize Blood Samples</p-button>
<p-button (click)="missionCmdStr('PRIORITIZE_MEDICAL_SUPPLIES')">Prioritize Medical Supplies</p-button>

-->

<p-card header="Initialize Mission" [style]="{ width: '50%', minWidth: '480px', maxWidth: '600px', margin: '10px auto' }">
    <h4>Select Priority</h4>
    <div class="card flex justify-content-center">
        <p-selectButton [options]="priorityOptions" [disabled]="missionState?.mission_state != 'START'" [(ngModel)]="priority" optionLabel="label" optionValue="value" (onChange)="priorityChanged($event)"></p-selectButton>
    </div>
    <p class="m-2">
    <div class="card flex justify-content-center">
        <p-button (click)="missionCmdStr('START_MISSION')" severity="success" label="Start Mission" [disabled]="priority == null || missionState?.mission_state != 'START'"></p-button>
    </div>
</p-card>

<p-card header="Test Commands" [style]="{ width: '50%', minWidth: '480px', maxWidth: '600px', margin: '10px auto' }">
    <div class="card flex justify-content-center">
        <input class="m-1" type="text" pInputText [(ngModel)]="testCmd" />
        <p-button class="m-1" (click)="missionCmdStr(testCmd)" label="Run"></p-button>
    </div>
</p-card>

<p-card header="Mission State" [style]="{ width: '50%', minWidth: '480px', maxWidth: '600px', margin: '10px auto' }">
    <pre style="overflow-x:hidden;">
{{ missionState | json }}
    </pre>
</p-card>
