
<!--
<p-button (click)="missionCmdStr('PRIORITY_BLOOD_SAMPLES')">Prioritize Blood Samples</p-button>
<p-button (click)="missionCmdStr('PRIORITY_MEDICAL_SUPPLIES')">Prioritize Medical Supplies</p-button>

-->

<p-card header="Harmony Mission Interface" [style]="{ width: '1100px', margin: '30px auto', padding: '0' }">
    <div class="twoPanel flex flex-wrap justify-content-center">
        <div class="leftPanel m-2">
            <ng-container *ngIf="missionState != null && missionState.mission_state == 'START'">
                <h4>Call a Robot</h4>
                <!-- <p class="m-3">
                <div class="flex justify-content-center">
                    <p-selectButton [options]="priorityOptions" [disabled]="missionState.mission_state != 'START'" [(ngModel)]="priority" optionLabel="label" optionValue="value" (onChange)="priorityChanged($event)"></p-selectButton>
                </div> -->
                <p class="m-3">
                <div class="flex justify-content-center">
                    <p-button (click)="missionCmdStr('PICKUP')" severity="success" label="Call for Pickup"></p-button>
                </div>
            </ng-container>

            <ng-container *ngIf="missionState != null && missionState.mission_state != 'START'">
                <h4>Mission State</h4>
                <div class="m-1 mission large" *ngIf="missionState.warning_state == null || missionState.warning_state == 'NONE'">
                    <em>{{missionState.mission_state_message}}</em>
                </div>
                <ng-container *ngIf="missionState.warning_state != null && missionState.warning_state != 'NONE'">
                    <div class="m-1 large warning">
                        <em>{{missionState.warning_state_message}}</em>
                    </div>
                </ng-container>
            </ng-container>

            <ng-container *ngIf="missionState != null && missionState.mission_state == 'READY_TO_LOAD_UNLOAD'">
                <h4>Cargo Access</h4>
                <p class="m-3">
                <div class="flex justify-content-center">
                    <p-button (click)="missionCmdStr('OPEN_FRONT')" severity="warning" label="Front Tray"></p-button>
                </div>
                <p class="m-3">
                <div class="flex justify-content-center">
                    <p-button (click)="missionCmdStr('OPEN_TOP_TRAY')" severity="warning" label="Top Tray"></p-button>
                </div>
                <p class="m-3">
                <div class="flex justify-content-center">
                    <p-button (click)="missionCmdStr('OPEN_BOTTOM_TRAY')" severity="warning" label="Bottom Tray"></p-button>
                </div>
                <p class="m-3">
                <div class="flex justify-content-center">
                    <p-button (click)="missionCmdStr('LOADING_COMPLETED')" severity="success" label="Load Completed"></p-button>
                </div>
            </ng-container>

            <ng-container *ngIf="missionState != null && missionState.mission_state == 'ARRIVED_DELIVERY'">
                <h4>Cargo Access</h4>
                <p class="m-3">
                <div class="flex justify-content-center">
                    <p-button (click)="missionCmdStr('DELIVERY_READY')" severity="warning" label="Open Tray"></p-button>
                </div>
                <p class="m-3">
                <div class="flex justify-content-center">
                    <p-button (click)="missionCmdStr('DELIVERY_COMPLETED')" severity="success" label="Delivery Complete"></p-button>
                </div>
            </ng-container>

            <!-- <ng-container *ngIf="missionState != null && missionState.mission_state == 'LOADING_UNLOADING'">
                <h4>Cargo Access</h4>
                <p class="m-3">
                <div class="flex justify-content-center">
                    <p-button (click)="missionCmdStr('LOADING_COMPLETED')" severity="success" label="Cargo Access Completed"></p-button>
                </div>
            </ng-container> -->

            <ng-container *ngIf="missionState == null">
                <h4>Connection Error</h4>
                <div class="m-1"><em>Please make sure mission server is running.</em></div>
            </ng-container>
        </div>

        <div class="rightPanel m-2">
            <!-- <h4>Configuration</h4>
            <div *ngIf="missionState != null" class="m-2 trayWrap">
                <div class="trayName">Planning Priorities</div>
                <div *ngIf="missionState != null && missionState.mission_state != 'START'">Cargo: {{missionState.priority}} first</div>
                <div *ngIf="missionState == null || missionState?.mission_state == 'START'">Priorities not set.</div>
            </div> -->

            <h4>Cargo State</h4>
            <div *ngIf="missionState != null && missionState.trays != null" class="flex flex-wrap justify-content-center m-1">
                <ng-container *ngFor="let tray of missionState.trays; let i = index;">
                    <div class="trayWrap {{tray.locked ? 'closed' : 'open'}}">
                        <div class="trayName">{{tray.name}}</div>
                        <div>Locked: {{tray.locked}}</div>
                        <div>Empty: {{tray.empty}}</div>
                    </div>
                </ng-container>
            </div>
        </div>

        <div class="camPanel m-2">
            <div class="camFeed"  style='background-image: url("http://{{_window.location.hostname}}:8080/stream?topic=/harmony/azure_front/rgb/image_raw&type=mjpeg&width=300&height=237");'>
                <div class="camFeedTitle">
                    <h4>Front Camera</h4>
                </div>
            </div>
        </div>

    </div>
</p-card>

<p-card *ngIf="_window.location.hash == '#debug'" header="Test Commands" [style]="{ width: '50%', minWidth: '480px', maxWidth: '600px', margin: '10px auto' }">
    <div class="flex justify-content-center">
        <input class="m-1" type="text" pInputText [(ngModel)]="testCmd" />
        <p-button class="m-1" (click)="missionCmdStr(testCmd)" label="Run"></p-button>
    </div>
    <h4>HRI Presets</h4>
    <div class="flex flex-wrap justify-content-center">
        <ng-container *ngFor="let preset of hriPresets; let i = index">
            <p-button class="m-1" (click)="hriPreset(preset)" label="{{preset}}"></p-button>
        </ng-container>
    </div>
    <h4>HRI Sequence</h4>
    <div class="flex flex-wrap justify-content-center">
        <ng-container *ngFor="let preset of hriSequences; let i = index">
            <p-button class="m-1" (click)="hriSequence(preset)" label="{{preset}}"></p-button>
        </ng-container>
    </div>
</p-card>

<p-card *ngIf="_window.location.hash == '#debug'" header="Mission State" [style]="{ width: '50%', minWidth: '480px', maxWidth: '600px', margin: '10px auto' }">
    <pre style="overflow-x:hidden;">
{{ missionState | json }}
    </pre>
</p-card>
